@import './base.css';
@import './receke_base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
      url('./fonts/Roboto-Medium.woff') format('woff');
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
h1 , h2 {
  font-family: 'Enfantine-bold' !important;
  
}
/* Landing page styles - Mobile */


/* Header styles */

header {
  margin: 2vh;
  display: block;
  text-align: center;
}

header img {
  max-width: 200px;
}

header h1 {
  text-align: center;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-family: "Enfantine-bold";
}

header p {
  padding: 0 0 3vh 0 ;
  color: #A7A7A7;
  font-size: 14px;
}

.desktop-logo {
  display: none;
}
/* Filter button styles */

.button-container {
  display: block;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
}

.button-style {
  margin: 8px 4px;
  border: 1px solid #DDDD99;
  border-radius: 8px;  
  outline: none;
  padding: 8px 14px;
  background-color: #EDEDD4;
  cursor: pointer;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
}

.button-style:hover{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}

.button-style:active{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}

#all-button-style {
  margin: 8px 4px;
  border: 1px solid #DDDD99;
  border-radius: 8px;  
  outline: none;
  padding: 9.6px 14px;
  background-color: #EDEDD4;
  cursor: pointer;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
}

#all-button-style:hover{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}

#all-button-style:active{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}



/* Ingredient cards styles */

.ingredients-title-desktop{
  margin: 0 2.4vh;
  display: none;
  padding: 3vh 0 2vh 0 ;
  color: #A7A7A7;
  font-size: 14px;
}

.cards-container {
  margin: 2.4vh auto; 
  display: block;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ingredient-card {
  margin: 6px;
  height: 130px;
  width: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: none;
  border-radius: 5px;
}

.ingredient-card:hover {
  border: 1px solid #6DCA53;
}

.ingredient-card.active {
  border: 1px solid #6dca53;
  background: rgb(109, 202, 83, 1);
  background: radial-gradient(circle, rgba(109, 202, 83, 0.2) 60%, rgba(223,223,223,0.5) 100%);
}

.ingredient-card img{
  margin: 6px;
  width: 76px;
  height: 76px;
}

.ingredient-card h3{
  margin: 4px;
  color:  #433A2F;
  font-size: 12px;
}

/* Fixed menu styles */

.fixed-menu {
  display: block;
  text-align: center;
  position: sticky;
  height: 140px;
  bottom: 0%;
  right: 0%; 
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,245,1) 52%);
}

.search-button {
  margin: 4vh 0 1vh 0;
  width: 340px;
  padding: 10px 120px;
  color:#FFFFF5;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  background-color:#D61F31;
  border: none;
  border-radius: 10px;
}

.add-button {
  margin: 1vh 0 2vh 0;
  width: 340px;
  padding: 10px 120px;
  color: #433A2F;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  background-color: #FFFFF5;
  border: 1px solid #433A2F;;
  border-radius: 10px;
}

/* Query page styles - Mobile */

/* Quert-style */

.query-nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.query-nav h1 {
  margin: 20px;
  text-align: center;
  position: center;
  padding: 1vh 0 1vh 6%;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

#query-hide {
  display: none;
}

      /*** Removes PNG button default styles ***/

.query-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;  
}

.query-nav img {
  height: 30px;
}

/* Recipes container style */

.recipes-container {
  margin: 1vh;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  align-items: flex-start;
}

      /*** Removes PNG button default styles ***/

.recipes-container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;  
}

.recipe-card {
  height: 100px;
  width: 140px;
  margin: 10px;
  background-color: #ffd3332f;
}

.recipes-container h2{
  width: auto;
  margin: 1vh;
  padding: 4px auto;
  text-align: left;
  font-size: 18px;
  color:var(--receke-black);
}

.recipes-container p{
  margin: 1vh;

  color: #D61F31;
  text-align: left;
  font-size: 14px;
}


#recipe-query-container {
color:var(--receke-black); 
font-family: 'Roboto'; 
}

#recipe-query-container div {
  max-width: 100px !important;
  }


*****************************


.bg-green p {
  color: var(--receke-green-100) ;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/3;
  width: 150px ;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 200px;
}

.recipes-container .recipe-card {
  height: initial;
  max-width: 180px !important;

}

recipe-card p {
  max-width: 100px;
}

*****************************


/* Recipe page styles - Mobile */

/* Recipe navigation */

.recipe-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}


.recipe-nav h1 {
  margin: 20px;
  text-align: center;
  position: center;
  padding: 1vh 1vh;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

      /*** Removes PNG button default styles ***/

.recipe-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;  
}

.recipe-nav img {
  height: 30px;
}

.recipe-image img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 200px;
}

.recipe-image {
  height: 200px;
  width: auto;
  background-color: #ffd3332f;
}

.ingredients-title-recipe {
  margin: 4vh 1vh 10px;
  display: flex;
  color: #433A2F;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;;
}

.ingredients-list h3 {
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-list {
display: inline-flex;
}

.ingredients-list img {
  margin: 6px;
  padding: 5px;
  height: 60px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: 1px solid #6DCA53;
  border-radius: 5px;
}

.ingredients-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 40px;
}

.ingredients-list h4 {
  color: #433A2F;
  font-size: 14px;
  font-weight: 600;
}

.steps-menu {
  margin: 6vh 2vh;
  display: flex;
  color: #433A2F;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: flex-end; */
  justify-content: space-between;
  align-items: center;;
}

.steps-menu h3{
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.steps-menu p {
  font-size: 14px;
  text-decoration: underline;
  text-decoration-style: dotted;
}


.recipe-steps {
  margin: 1vh;
  color:#433A2F;
}


.recipe-steps textarea ::placeholder {
  text-align:left; 
}

.recipe-steps ol {
  padding: 0px;
  counter-reset: step-counter;
}

.recipe-steps ol li {
  display: flex;
  gap:20px;
  margin-bottom: 9px;
}

.recipe-steps ol li::before{
  padding: 8px 12px;
  background-color:#D61F31;
  content: counter(step-counter);
  counter-increment: step-counter;
  color: white;
  height: fit-content;
  line-height: 16px;
  border-radius: 8px;
  font-size: 16px;
}

.recipe-steps ol li .plus {
  align-self: end;
  padding: 12px;
  line-height: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
}



/* ---- Recipe Form Styles - Mobile ----- */

.form-recipe-name {
  margin: 1vh ;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.form-recipe-name label{
  padding: 6px;
  text-align: center;
  position: center;
  color: #433A2F;
  font-size: 12px;
  font-weight: 500;
}

.form-recipe-name input {
 height: 36px;
 background-color: white;
 border: none;
 border-radius: 10px;
}

.form-recipe-name ::placeholder {
  text-align: center; 
}

.basic-ingredients-section h2{
  padding: 20px;
  text-align: center;
  position: center;
  color: #433A2F;
  font-size: 12px;
  font-weight: 500;
}

.ingredients-count input {
  margin: 6px;
  height: 34px;
  width: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: none;
  border-radius: 5px;
}

.ingredients-count ::placeholder {
  text-align: center; 
}

.recipe-steps-container textarea{
  width: 100%;
  height: 120px;
  width: 240px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
  padding: 12px 8px;
  flex: 1;
  text-align: left;
}

.recipe-steps-container textarea ::placeholder {
  text-align:left; 
}

.recipe-steps-container ol {
  padding: 0px;
  counter-reset: step-counter;
}

.recipe-steps-container ol li {
  display: flex;
  gap:6px;
  margin-bottom: 9px;
}

.recipe-steps-container ol li::before{
  padding: 8px 12px;
  background-color:#D61F31;
  content: counter(step-counter);
  counter-increment: step-counter;
  color: white;
  height: fit-content;
  line-height: 16px;
  border-radius: 8px;
  font-size: 16px;
}

.recipe-steps-container ol li .plus {
  align-self: end;
  padding: 12px;
  line-height: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
}

.send-button {
  margin: 4vh 0 1vh 0;
  width: 340px;
  padding: 10px 120px;
  color:#FFFFF5;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  background-color:#D61F31;
  border: none;
  border-radius: 10px;

}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;

  }

  #app {
    display: grid;
    grid-template-columns: none;
    padding: none;
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
        url('./fonts/Roboto-Medium.woff') format('woff');
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
  }
  
  h1, h2{
  font-family: 'Enfantine-bold' !important;
  }
/* Landing page styles - Mobile */


/* Header styles */

.header-arrangement {
  display: flex;
  align-items: center;
}

header {
  height: 220px;
  width: 900px;
  margin: none;
  padding: 2vh;
  display: grid;
  text-align: left;
  border: 4px solid #D61F31;
  border-radius: 10px;
  justify-content: start;
  align-content: center;
}

header img {
  max-width: 200px;
}

header h1 {
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

header p {
  display: none;
  padding: 0 0 3vh 0 ;
  color: #A7A7A7;
  font-size: 16px;
}

.desktop-logo{
  height: 220px;
  padding: 2vh;
  display: flex;
  align-items: center;
  border: 4px solid #D61F31;
  border-radius: 10px;
}

.desktop-logo img{
  height: 180px;
}

/* Filter button styles */

.button-container {
  margin: auto 2vh;
  display: block;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
}

.button-style {
  margin: 8px 4px;
  border: 1px solid #DDDD99;
  border-radius: 8px;  
  outline: none;
  padding: 8px 14px;
  background-color: #EDEDD4;
  cursor: pointer;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
}

.button-style:hover{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}

.button-style:focus{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}


/* Ingredient cards styles */

.ingredients-title-desktop{
  margin: 0 2.4vh;
  display: block;
  padding: 3vh 0 2vh 0 ;
  color: #A7A7A7;
  font-size: 16px;
}

.cards-container {
  width: auto;
  height: 320px;
  margin: 10px;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
}

.ingredient-card {
  margin: 10px;
  height: 140px;
  width: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: none;
  border-radius: 10px;
}

.ingredient-card:hover {
  border: 1px solid #6DCA53;
}

.ingredient-card img {
  height: 70px;
  width: 70px;
  margin: 1vh;
  padding: 2px;
  
}

.ingredient-card h3{
  margin: 2px;
  color:  #433A2F;
  font-size: 16px;
}

/* Fixed menu styles */

.fixed-menu {
  height: 100px;
  width: auto;
  display: block;
  text-align: center;
  position: relative;
  bottom: 0%;
  right: 0%; 
  background: none;
}

.search-button {
  margin: 4vh 1vh 2vh 0;
  width: 340px;
  padding: 10px 120px;
  color:#FFFFF5;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  background-color:#D61F31;
  border: none;
  border-radius: 10px;
}

.add-button {
  margin: 4vh 1vh 2vh 0;
  width: 340px;
  padding: 10px 120px;
  color: #433A2F;
  white-space: nowrap;
  font-size: 15px;
  text-align: center;
  background-color: #FFFFF5;
  border: 1px solid #433A2F;;
  border-radius: 10px;
}

/* Query page styles - Mobile */

/* Quert-style */

.query-nav {
  margin: 0 2vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.query-nav h1 {
  margin: 20px;
  text-align: center;
  position: center;
  padding: 1vh 0 1vh 6%;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

      /*** Removes PNG button default styles ***/

.query-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor: pointer;
overflow: hidden;  
}

.query-nav img {
  height: 30px;
}

/* Recipes container style */

.recipes-container {
  margin: 1vh;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  align-items: flex-start;
}

      /*** Removes PNG button default styles ***/

.recipes-container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
}

.recipes-container h2 {
  width: 180px;
  margin: 4px;
  padding: 4px auto;
  text-align: left;
  font-size: 18px;
  color:var(--receke-black);
}

.recipes-container p{ 
  width: 180px;
  margin: 4px;

}


.recipe-card {
  height: 200px;
  width: auto;
  background-color: #ffd3332f;
}

.image-container img {
  width: 200px;
  /* height: 100px; */
  margin: 10px;
  object-fit: cover;
}

.recipes-container h2{
  padding: 2px 0;
  text-align: left;
  font-size: 16px;
}

.recipes-container p{
  color: #D61F31;
  text-align: left;
  font-size: 10px;
}

/* Recipe page styles - Mobile */

/* Recipe navigation */

.recipe-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.recipe-nav h1 {
  margin: 30px 30px 20px;
  text-align: center;
  position: center;
  padding: 1vh 1vh;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

      /*** Removes PNG button default styles ***/

.recipe-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;  
}

.recipe-nav img {
  height: 30px;
}

.recipe-layout-alignment {
  display: flex;
}

.recipe-image {
  height: 520px;
  width: 640px;
  margin: 4vh;
  background-color: #ffd3332f;
}

.recipe-image img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.recipe-content {
  display: inline-grid;
  justify-content: start;
  align-items: start;
}

.ingredients-title-recipe {
  margin: 1vh;
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-list h3 {
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-list {
display: inline-flex;
}

.ingredients-list img {
  margin: 6px;
  padding: 5px;
  height: 60px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: 1px solid #6DCA53;
  border-radius: 5px;
}

.ingredients-list div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 40px;
}

.ingredients-list h4 {
  color: #433A2F;
  font-size: 14px;
  font-weight: 600;
}

.steps-menu {
  margin: 2vh 0 1vh;
  display: flex;
  color: #433A2F;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: flex-end; */
  justify-content: space-between;
  align-items: center;;
}

.steps-menu p {
  display: none;
  font-size: 14px;
  text-decoration: underline;
}


.recipe-steps {
  width: 400px;
  color:#433A2F;
}

.recipe-steps li {
  margin:1vh 0;
}

/*

---- To add styles to numbers of the ordered list -----

.recipe-steps li::marker {
  width: 40px;
  height: 40px;
  background-color: #D61F31;
}
*/


/* ---- Recipe Form Styles - Mobile ----- */

.recipe-form-content {
  display: flex;
}

.form-recipe-name {
  height: 100px;
  width: 300px;
  margin: 1vh ;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.form-recipe-name label{
  text-align: left;
  position: center;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.form-recipe-name input {
 height: 36px;
 background-color: white;
 border: none;
 border-radius: 10px;
}

.form-recipe-name ::placeholder {
  text-align: center; 
}

.basic-ingredients-section {
  width: 300px;;
}

.basic-ingredients-section h2{
  text-align: left;
  position: center;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-title {
  margin-bottom: 4px;
  text-align: center;
  position: center;
  color: #433A2F;
  font-size: 12px;
  font-weight: 500;
}

.ingredients-count input {
  margin: 6px;
  height: 34px;
  width: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: none;
  border-radius: 5px;
}

.ingredients-count ::placeholder {
  text-align: center; 
}

.form-buttons-container {
  display: none;
}

************************************

.recipe-form-cards-container {
  width: 300px;
  height: 320px;
  overflow-x: auto;
  margin: 0 2.4vh;
  display: block;
}

***********************************


.recipe-steps-container input{
  height: 120px;
  width: 240px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.recipe-steps-container::marker{
  padding: 20px;
  background-color:#D61F31;
  content: counter(step-counter);
  counter-increment: step-counter;
  color: white;
  height: fit-content;
  line-height: 16px;
  border-radius: 8px;
  font-size: 16px;
}

.recipe-steps-container ol li .plus {
  align-self: end;
  padding: 12px;
  line-height: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
}

.send-button {
  margin: 4vh 0 1vh 0;
  width: 340px;
  padding: 10px 120px;
  color:#FFFFF5;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  background-color:#D61F31;
  border: none;
  border-radius: 10px;

}




}