@import './base.css';
@import './receke_base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Landing page styles - Mobile */


/* Header styles */

header {
  margin: 2vh;
  display: block;
  text-align: center;
}

header img {
  max-width: 200px;
}

header h1 {
  text-align: center;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

header p {
  padding: 0 0 3vh 0 ;
  color: #A7A7A7;
  font-size: 14px;
}

/* Filter button styles */

.button-container {
  display: block;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
}

.button-style {
  margin: 8px 4px;
  border: 1px solid #DDDD99;
  border-radius: 8px;  
  outline: none;
  padding: 8px 14px;
  background-color: #EDEDD4;
  cursor: pointer;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
}

.button-style:hover{
  border: 1px solid #6DCA53;
  background-color: #C5EABA;
}

/* Ingredient cards styles */

.cards-container {
  margin: 2.4vh auto; 
  display: block;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.ingredient-card {
  margin: 6px;
  height: 130px;
  width: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: none;
  border-radius: 5px;
}

.ingredient-card:hover {
  border: 1px solid #6DCA53;
}

.ingredient-card img{
  margin: 6px;
  width: 76px;
  height: 76px;
}

.ingredient-card h3{
  margin: 4px;
  color:  #433A2F;
  font-size: 12px;
}

/* Fixed menu styles */

.fixed-menu {
  display: block;
  text-align: center;
  position: fixed;
  height: 140px;
  bottom: 0%;
  right: 0%; 
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,245,1) 52%);
}

.search-button {
  margin: 4vh 0 1vh 0;
  width: 340px;
  padding: 10px 120px;
  color:#FFFFF5;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  background-color:#D61F31;
  border: none;
  border-radius: 10px;
}

.add-button {
  margin: 1vh 0 2vh 0;
  width: 340px;
  padding: 10px 120px;
  color: #433A2F;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  background-color:#D61F31;
  background-color: #FFFFF5;
  border: 1px solid #433A2F;;
  border-radius: 10px;
}

/* Query page styles - Mobile */

/* Quert-style */

.query-nav {
  margin: 2vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.query-nav h1 {
  margin: 20px;
  text-align: center;
  position: center;
  padding: 1vh 0 1vh 6%;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

      /*** Removes PNG button default styles ***/

.query-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;  
}

.query-nav img {
  height: 30px;
}

/* Recipes container style */

.recipes-container {
  margin: 2.4vh auto; 
  display: inline-block;
}

      /*** Removes PNG button default styles ***/

.recipes-container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
}

.recipe-card {
  height: 100px;
  width: 160px;
  background-color: #ffd3332f;
}

.recipes-container h2{
  padding: 2px 0;
  text-align: left;
  font-size: 16px;
}

.recipes-container p{
  color: #D61F31;
  text-align: left;
  font-size: 10px;
}

/* Recipe page styles - Mobile */

/* Recipe navigation */

.recipe-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.recipe-nav h1 {
  margin: 30px;
  text-align: center;
  position: center;
  padding: 1vh 1vh;
  color: #433A2F;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

      /*** Removes PNG button default styles ***/

.recipe-nav button {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;  
}

.recipe-nav img {
  height: 30px;
}

.recipe-image {
  height: 200px;
  width: auto;
  background-color: #ffd3332f;
}

.ingredients-title {
  margin: 4vh 0;
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-list h3 {
  text-align: left;
  position: center;
  padding: 1vh 0 1vh 0;
  color: #433A2F;
  font-size: 16px;
  font-weight: 600;
}

.ingredients-list {
display: inline-flex;
}

.ingredients-list img {
  margin: 6px;
  padding: 5px;
  height: 60px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(223,223,223,0.5) 100%);
  border: 1px solid #6DCA53;
  border-radius: 5px;
}

.ingredients-list div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 40px;
}

.ingredients-list h4 {
  color: #433A2F;
  font-size: 14px;
  font-weight: 600;
}

.steps-menu {
  margin: 2vh 0;
  display: flex;
  color: #433A2F;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: flex-end; */
  justify-content: space-between;
  align-items: center;;
}

.steps-menu p {
  font-size: 14px;
  text-decoration: underline;
}


.recipe-steps {
  color:#433A2F;
}

.recipe-steps li {
  margin:4vh 0;
}

/*

---- To add styles to numbers of the ordered list -----

.recipe-steps li::marker {
  width: 40px;
  height: 40px;
  background-color: #D61F31;
}
*/


@media (hover:hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;

  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
