/* FONTS RECEKE */

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
        url('./fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* COLOR PALETTE RECEKE */

:root {
    --receke-red: rgba(214, 31, 49, 1);
    --receke-red-50: rgba(214, 31, 49, 0.50);
    --receke-red-30: rgba(214, 31, 49, 0.3);
    --receke-red-10: rgba(214, 31, 49, 0.1);
  
    --receke-green: rgba(109, 202, 83, 1);
    --receke-green-50: rgba(109, 202, 83, 0.50);
    --receke-green-30: rgba(109, 202, 83, 0.3);
    --receke-green-10: rgba(109, 202, 83, 0.1);
  
    --receke-yellow: rgba(255, 211, 51, 1);
    --receke-yellow-50: rgba(255, 211, 51, 0.50);
    --receke-yellow-30: rgba(255, 211, 51, 0.3);
    --receke-yellow-10: rgba(255, 211, 51, 0.1);
  
    --receke-lemon: rgba(221, 221, 153, 1);
    --receke-lemon-50: rgba(221, 221, 153, 0.50);
    --receke-lemon-30: rgba(221, 221, 153, 0.3);
    --receke-lemon-10: rgba(221, 221, 153, 0.1);
  
    --receke-grey: rgba(190, 190, 190, 1);
    --receke-grey-dark: rgba(239, 239, 239, 1);
    --receke-grey-light: rgba(250, 250, 250, 1);
  
    --receke-black: rgba(67, 58, 47, 1);
  }